.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-300: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-columns: 20px 1fr 20px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-300: rgba(var(--gray-rgb), 0.06);
    --button-primary-hover: #ccc;
    --button-secondary-hover: #f2f2f2;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Mono", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  text-transform: uppercase;
  color: #141414;
  font-size: 12rem;
  line-height: 1;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #141414;
  font-family: 'DM Mono', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
}

nav {
  position: fixed;
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.nav-logo a {
  font-family: "VTC Carrie", sans-serif;
  font-size: 1.25rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #e3e4d8;
}

.page-header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}


.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  pointer-events: none;
  z-index: 1000;
  transition: transform 0.5s ease-in-out;
}

.block {
  flex: 1;
  height: 100%;
  background-color: #222;
  transform: scaleX(0);
  transform-origin: left;
}

.logo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  pointer-events: none;
  z-index: 2;
  opacity: 0;
}

.logo-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding: 20px;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }

}